.plans {
  display: flex;
  width: 208px;

  ::v-deep {
    .plan {
      position: relative;
      width: 48px;
      height: 48px;
      cursor: default;

      .not-active {
        opacity: 0.25;
      }
      &:not(:last-child) {
        margin-right: 32px;
      }
      svg {
        width: inherit;
        height: inherit;
      }
      &__name {
        position: absolute;
        top: 10px;
        bottom: 18px;
        left: -4px;
        right: -4px;
        text-align: center;
        background-color: #131718;
      }
      &__text {
        font-size: 14px;
        text-transform: uppercase;
        white-space: nowrap;
        user-select: none;
      }
    }
  }
}